*{
  padding: 0;
  /*margin: 0;*/
}

body {
  width: 100%;
  text-align:center;
  font-family: "Roboto Condensed", sans-serif;
  background: #006CB7;
}

.main {
  margin-right: 200px;
  width: 80%;
  padding: 10px;
  display: inline-block;
}

.seasonInput {
  color: #EF164B;
}

h1 {
  font-family: "Graduate";
  font-weight: bold;
}

.sidebar {
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  height: 100%;
}

.title {
  color: white;
  text-shadow: 2px 2px #EF164B;
}

.title>h3 {
  /*padding: 10px;*/
  margin: 0 auto;
  display: inline-block;
  position: relative;
  width: 600px;
  padding-bottom: 15px;
}

.title>h1{
  margin-top: .5em;
  margin-bottom: .5em;
}

.state-borders {
  stroke: black;
  stroke-width: 1px;
}

.states{
  margin: auto;
  display: inline-block;
  fill: black;
}

.state{
  fill: blue;
}

path.state{
    fill: blue;
}

path{
  stroke: red;
}

.home-cta {
  font-size: 18px;
  display: block;
  width: 125px;
  margin: 0 auto;
  background: #FFFFFF;
  font-weight: bold;
  color: #EF164B;
  padding: .5em .25em;
  line-height: 1;
  margin-bottom: 10px;
  /* border: 1px solid black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.home-cta:hover {
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background: white;
}

a {
  text-decoration: none;
  color: black;
}

.col-1 {
  width: 300px;
  padding: 0 10px;
  margin: auto;
  box-sizing: border-box;
  /*border: 1px solid black;*/
}

.col-2 {
  max-width: 620px;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
}

.col-3 {
  width: 48%;
  display: inline-block;
  /*border: 1px solid black;*/
}

#inputs{
  text-align: center;
  justify-content: center;
  /*padding: ;*/
}

input{
  width: 135px;
  font-size: 1.25em;
  text-align: center;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
  /* border: 1px solid black; */
  margin-bottom: 10px;
  background: rgba(255,215,0,.25);
  /* red 142,22,22 */
}

.dataSection{
  display: block;
  /*overflow: overlay;*/
  overflow: auto;
  right: 200px;
}

.left{
  display: inline-block;
  float:left;
  width: 66%;
}

.right{
  display: inline-block;
  overflow: overlay;
  float:left;
  width: 33%;
  margin-top: 30px;
  /*border: 1px solid black;*/
}

svg {
  /*border: 1px solid black;*/
  justify-content: center;
}

table {
    border-collapse: collapse;
}

td.teamTD{
    border: 5px solid white;
    text-align: center;
    padding: .8em 0;
    padding-left: .7em;
    font-size: .5em;
    width: 50px;
    height:30px;
    font-size: 12.5px;
    font-weight: bold;
}

tr:nth-child(n+2){
  border: 1px solid black;
}

td:hover{/*
  cursor: pointer;
  background: #FFD700;*/
  /* red: e54747 gold: FFD700 */
}

.scroll{
  overflow: scroll;
}

h1{
  font-size: 2.15em;
  color: "#ff7979";
}

h2{
  margin: .25em;
  font-family: "Graduate";
  font-size: 1.5em;
}

h3{
  font-size: 1.25em;
  text-align: center;
}

hr {
	text-align: center;
  margin-top: 10px;
}

hr:after{
	content: '\2708';
	display: inline-block;
	position: relative;
	top: -21.75px;
	padding: 0 15px;
	color: #e54747;
  /*  red : e54747 gold: FFD700*/
	font-size: 28px;
}

.material-icons:active, .material-icons:focus, .material-icons:hover{
  cursor: pointer;
}

.centered{
  margin: 3px;
  padding: 2px;
  font-family: "Graduate";
  color: white;
  text-shadow: 2px 2px #EF164B;
}

.unselectable{
  background: purple;
}

.unselectable:hover{
  background: black;
  cursor: auto;
}

.card-panel{
  box-shadow: 20px 20px #EF164B;
  margin-top: 50px;
}

.infoCard{
  display: none;
}

.infoCardVisible{
  display: block;
}

#authors {
  font-family: "Graduate";
  color: white;
  text-shadow: 2px 2px #EF164B;
  padding: 25px;
}